@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

.left-50 {
  left: 50%;
}

.right-50 {
  right: 50%;
}

.top-50 {
  top: 50%;
}

.-z-1 {
  z-index: -1;
}

.-z-2 {
  z-index: -2;
}

.secondary-title {
  @apply text-3xl font-bold;
}

.secondary-title::before {
  content: "";
  @apply block w-12 h-2 bg-theme rounded-full mb-1;
}

.tertiary-title {
  @apply text-2xl font-bold;
}

.section-paragraph {
  @apply text-secondary my-6 w-full max-w-3xl;
}

.badge {
  @apply px-4 py-2 text-sm rounded bg-badge;
}

[id] {
  scroll-margin-top: 100px;
}

.left-percentage {
  left: 5%;
}

.h-screen-partial {
  height: 80vh;
}

.nav-dot {
  transition: background 200ms, border-color 200ms;
}

.selected-circle {
  @apply border-theme bg-theme
}

.nav-dot:hover span{
  opacity: 1;
}

.sidebar-icon {
  @apply relative flex items-center justify-center
  h-12 w-12 mt-2 mb-2 mx-auto
bg-gray-400 hover:bg-green-600 dark:bg-gray-800
text-green-500 hover:text-white
  hover:rounded-xl rounded-3xl
  transition-all duration-300 ease-linear
  cursor-pointer shadow-lg ;
}

.sidebar-tooltip {
  @apply absolute w-auto p-2 min-w-max left-14 rounded-md shadow-md
  text-white bg-gray-900
  text-xs font-bold
  transition-all duration-100 scale-0 origin-left;
}